/* --dark-sienna: #3c1518ff;
--blood-red: #69140eff;
--rust: #a44200ff;
--bronze: #d58936ff;
--pale-spring-bud: #f2f3aeff; */

html {
  font-size: 62.5%;
}

html, body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Crimson Text', serif;
  scroll-behavior: smooth;
}

.header {
  position: fixed;
  width: 100%;
  margin: 0;
  padding-top: 1rem;
  background-image: linear-gradient(to top, transparent, rgba(0 , 0, 0, .3));
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.header__title {
  color: white;
  font-size: 3rem;
  margin-left: 3rem;
  font-family: 'Lobster', cursive;
  text-decoration: none;
}

.nav {
  display: flex;
  
}

.nav__item {
  text-decoration: none;
  color: white;
  font-size: 1.8rem;
  margin: 0 2rem;
}

.hero {
  height: 100vh;
  max-width: 100%;
  background-image: linear-gradient(to top left, transparent, rgba(105, 20, 14, 0.178)), url(bg.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  overflow: hidden;
}

.hero__info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__welcome {
  font-size: 15rem;
  margin: 0;
  font-family: 'Lobster', cursive;
}

.hero__text {
  font-size: 3rem;
  margin: -1rem 0 0 0;
}

.hero__btn {
  text-decoration: none;
  font-size: 2rem;
  margin-top: 2rem;
  padding: 0;

  background-color: transparent;
  color: white;
  border-bottom: solid 1px white; 
}

.hero__btn:hover {
  cursor: pointer;
}

.about {
  height: 100vh;
  width: 100vw;
  text-align: center;
}

.about__title {
  font-size: 7rem;
}

.person {
  height: 70%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.person__card {
  height: 70rem;
  width: 50rem;
  background-color: black;
  color: white;
  border-radius: 5px;
  transition: all .2s ease-in;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.person__card:hover {
  filter: blur(5px);
}

.person__card:hover>.person__link {
  display: block;
  filter: blur(0);
  animation-name: fromBottom;
  animation-duration: .4s;
}

.person__img {
  height: 20rem;
  border-radius: 50%;
  margin-top: 4rem;
  flex: none;
  
}

.person__name {
  font-size: 4rem;
  margin: 0;
  padding: 0;
}

.person__roles {
  font-size: 1.6rem;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.person__link {
  display: none;
  text-decoration: none;
  color: white;
  position: absolute;
}


@keyframes fromBottom {
  from {
    bottom: 0;
  }
  to {
    bottom: 50%;
  }
}