/* --dark-sienna: #3c1518ff;
--blood-red: #69140eff;
--rust: #a44200ff;
--bronze: #d58936ff;
--pale-spring-bud: #f2f3aeff; */

html {
  font-size: 62.5%;
}

html, body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Crimson Text', serif;
  scroll-behavior: smooth;
}

.header {
  margin: 0;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  background-image: linear-gradient(to top, transparent, rgba(0 , 0, 0, .3));
}

.header__title {
  color: white;
  font-size: 3rem;
  margin-left: 3rem;
  font-family: 'Lobster', cursive;
}

.nav {
  display: flex;
  
}

.nav__item {
  text-decoration: none;
  color: white;
  font-size: 1.8rem;
  margin: 0 2rem;
}

.hero {
  height: 100vh;
  max-width: 100%;
  background-image: linear-gradient(to top left, transparent, rgba(105, 20, 14, 0.178)), url(bg.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  overflow: hidden;
}

.hero__info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__welcome {
  font-size: 15rem;
  margin: 0;
  font-family: 'Lobster', cursive;
}

.hero__text {
  font-size: 3rem;
  margin: -1rem 0 0 0;
}

.hero__btn {
  text-decoration: none;
  font-size: 2rem;
  margin-top: 2rem;
  padding: 0;

  background-color: transparent;
  color: white;
  border-bottom: solid 1px white; 
}

.hero__btn:hover {
  cursor: pointer;
}

.about {
  height: 100vh;
}