body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  font-size: 62.5%;
}

.nav {
  height: 50px;
  width: 100%;
  display: flex;
  
}

.container {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;

}

.container__element {
  height: 500px;
  width: 500px;
  background-color: gray;

  box-shadow: -3px -3px 7px rgb(151, 151, 151), 3px 3px 7px rgb(68, 67, 67), inset -7px -7px 7px rgb(151, 151, 151), inset 7px 7px 7px rgb(102, 101, 101);
}